GOAL
-Fill glass up with 28 ice cubes in the least amount of turns possible-
HOW
-Play the minigame on your right-
HOW pt.2
-Press 'Draw'. Here's what could show up:-
-There are numbers 2,3,and 4-
-There are symbols 'Popsicle' and 'Sandals'-

-Ice cubes are awarded in the following fashion:-
-Pair of symbols (e.g. two popsicles): 1 ice cube-
-Triple of any number or symbol: 3 ice cubes-
-Four of a kind for any number or symbol: 4 ice cubes-
-Two pair(e.g. pair of this and a pair of that): 2 ice cubes-
-Straight (e.g. 2,3,4,popsicle OR 3,4,popsicle,sandals): 4 ice cubes-

-Press hold to save what you want, then press 'Deal'-
-You are then awarded your ice cubes, that is one turn-
-BEWARE: you must be fast, ice cubes will melt!
