Rules:

Your Goal.
-Raise your love meter to 100 to win over the crowd.
How? 
-Press the corresponding WASD key you see on screen to raise the meter.
Sounds easy, whats the catch? 
-If you press the wrong key, the crowd will boo growing
your hate meter and throw a tomato at you. If this tomato hits you, your hate meter will go
even more. If your hate meter reaches 100 before your love meter, you lose.
Yikes, help me out.
-When you get a streak of notes correct, the crowd will cheer and throw a rose on the stage which if you get before it disappears will help boost your love meter.
How do I get roses and dodge tomatoes?
-Use the arrow keys
